@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/Proxima Nova Bold.otf');
}
@font-face {
    font-family: 'Proxima Nova Extrabold';
    src: url('fonts/Proxima Nova Extrabold.otf');
}
@font-face {
    font-family: 'Proxima Nova Alt Bold';
    src: url('fonts/Proxima Nova Alt Bold.otf');
}
@font-face {
    font-family: 'Proxima Nova Alt Light';
    src: url('fonts/Proxima Nova Alt Light.otf');
}
@font-face {
    font-family: 'Proxima Nova Alt Regular';
    src: url('fonts/Proxima Nova Alt Regular.otf');
}
@font-face {
    font-family: 'Proxima Nova Alt Condensed Thin';
    src: url('fonts/Proxima Nova Alt Condensed Thin.otf');
}
@font-face {
    font-family: 'Proxima Nova Alt Condensed Light';
    src: url('fonts/Proxima Nova Alt Condensed Light.otf');
}

/*------------------ GENERAL ------------------*/
html {
    height: 100%!important;
}
body {
    width: 100%!important;
    height: calc(100% - 43px)!important;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
#particles {
    width: 100%!important;
    height: 100%!important;
    position: absolute!important;
    top: 0!important;
    left: 0!important;
}
.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
}
.row-fluid {
    height: 100%;
    width: 100%;
    display: table; 
    vertical-align: middle;
}
.col {
    height: 100%;
    display: table-cell; 
    vertical-align: middle;
}
ul {
    list-style-type: none;
    padding: 0;
}
#content {
    margin: 43px 0 0 0;
}



/*------------------ INTRO DIALOG BOX ------------------*/
.vex.vex-theme-wireframe .vex-content {
    font-family: 'Proxima Nova Alt Regular';
    letter-spacing: 2px;
    color: #162252;
    border: 2px solid #162252;
    padding: 50px 70px;
    margin: 10% auto 0 auto;
    max-width: 100%;
    width: 550px;
    font-size: 16px;
    text-align: center;
}
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="text"] {
    width: 85%;
    padding: 3px 8px;
    font-size: 18px;
    margin: 0 0 4px;
    border: none;
    border-bottom: 1px solid #162252; 
    letter-spacing: 2px;
    text-align: center;
}
.vex.vex-theme-wireframe .vex-dialog-form .vex-dialog-input input[type="text"]:focus {
    border: none;
    border-bottom: 1px solid #162252;
}
.vex.vex-theme-wireframe .vex-dialog-button {
    float: none;
    margin: 5px;
}
.vex.vex-theme-wireframe .vex-dialog-button.vex-dialog-button-primary {
    background: #162252;
    color: #fff;
}
.vex.vex-theme-wireframe .vex-dialog-button.vex-dialog-button-secondary {
    background: #fff;
    color: #162252;
    border: 2px solid #162252; 
}


/*------------------ TWEET BOX ------------------*/
#tweetbox {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.85);
}
#tweetWrite {
    width: 100%;
    height: 43px;
    border: none;
    border-bottom: 1px solid #ccc;
}
#tweetInput {
    width: calc(100% - 120px);
    height: 39px;
    display: inline-block!important;
    border: none;
    padding-left: 10px;
    font-family: 'Proxima Nova Alt Light';
    letter-spacing: 2px;
    font-size: 15px;
    background-color: transparent;
}
#tweetInput:focus {
    outline: none;
}
#tweetButton {
    display: inline-block;
    color: #fff;
    width: 43px;
    height: 43px;
    background-color: #162252;
    text-align: center;
    position: fixed;
    top: 0px;
    right: 0px;
}
#tweetButton:hover {
    text-decoration: none;
}
#tweetButton i {
    font-size: 18px;
    line-height: 43px;
}


/*------------------ CONTENT: SUGGESTIONS ------------------*/
.centerthis {
    position: absolute;
    top: calc(50% - 50px);
    transform: translate(0%,-50%);
    display: inline-block;
}
#suggestions {
    word-break: break-all;
    padding-left: 10%;
}
#suggestions h1 {
    text-transform: uppercase;
    color: #8c979f;
    margin: 0px 0px 25px 0px;
    font-family: 'Proxima Nova Alt Regular';
    letter-spacing: 5px;
    line-height: 30px;
    font-size: 20px;
}
#topsugslist li, #topsugsslide {
    padding: none;
    margin-top: 15px;
    color: #162252;
    font-size: 35px;
    font-family: 'Proxima Nova Alt Bold';
    text-transform: uppercase;
    letter-spacing: 6px;
}
#topsugsslide {
    font-size: 55px;
    margin-top: -5px!important;
    display: none;
}
#topsugslist {
    margin-bottom: 30px;
}
#topsugslist li:hover, #top li:hover, #topsugsslide:hover {
    color: #ccd6dd;
    cursor: pointer;
}


/*------------------ CONTENT: USERNAME DISPLAY ------------------*/
#usernameDisplay p {
    font-family: 'Proxima Nova Alt Light';
    color: #8c979f;
    display: inline!important;
    line-height: 27px;
    letter-spacing: 1px;
}
#inputGroup {
    display: inline!important;
}
#usernameDisplay h3, .usernameInput {
    font-family: 'Proxima Nova Alt Regular';
    margin-top: 0px;
    color: #162252;
    font-size: 17px;
/*    letter-spacing: 1px;*/
    display: inline!important;
    border: 0px;
    line-height: 27px;
}
.usernameInput {
    width: 90px;
    background: transparent;
    padding: 0!important;
}
.usernameInput:focus {
    outline: none;
}
#usernameDisplay i {
    font-size: 16px;
    margin-right: 10px;
    color: #162252;
}
#usernameDisplay i:hover {
    cursor: pointer;
}
#usernameAdd {
    display: none;
}


/*------------------ SWITCH ------------------*/
.bootstrap-switch {
    display: inline-block;
    direction: ltr;
    cursor: pointer;
    border-radius: 30px!important;
    border: none!important;
    position: relative;
    text-align: left;
    overflow: hidden;
    height: 27px!important;
    line-height: 8px;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
}
.bootstrap-switch .bootstrap-switch-container {
    display: inline-block;
    top: 0;
    border-radius: 4px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
    height: 100%;
    padding: 6px 6px;
    font-family: 'Proxima Nova Alt Light';
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 15px;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    padding-left: 12px;
    color: #fff;
    background: #162252;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
    color: #fff;
    background: #162252;
}
.bootstrap-switch .bootstrap-switch-label {
    text-align: center;
    margin-top: -5px;
    margin-bottom: -1px;
    z-index: 100;
    background: #162252;
    width: 27px!important;
    height: 25px!important;
}
.bootstrap-switch .bootstrap-switch-label div {
    margin-left: -2px!important;
    margin-bottom: -6px!important;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 25px!important;
    display: inline-block;
}
.bootstrap-switch .bootstrap-switch-focused{
    -webkit-box-shadow: none!important;
    box-shadow: none!important}


/*------------------ SUGS GROUP ------------------*/
.radiogroup {
    margin-left: -4px;
}
.radiogroup li {
    display: inline-block;
    margin: 10px 4px -5px;
}
.radiogroup ul li div {
    padding: 5px 15px;
    font-family: 'Proxima Nova Alt Light';
    text-transform: lowercase;
    border-radius: 12px;
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid #acbac4;
    color: #8c979f;
}
.radiogroup ul li div:hover {
    cursor: pointer;
}
.radiogroup input {
    display: none
}
.radiogroup input:checked + label div {
    background: #162252;
    color: #fff;
}


/*------------------ TREND STATS CONTAINER ------------------*/
#tweetStats {
    text-align: center;
    display: none;
    width: 430px;
    height: inherit;
    max-height: 470px;
    position: relative;
    padding: 25px;
    background: #fff;
    border-radius: 3px;
    border: 2px solid #162252;
    color: #162252;
    top: calc(50% - 215px);
    transform: translate(0%,25%);
}
#closeStats:hover {
    cursor: pointer;
}
#tweetStats p {
    font-family: 'Proxima Nova Alt Regular';
    text-align:right;
    color: #162252;
    font-size: 20px;
    margin-top: -10px;
}
#tweetStats h3 {
    font-family: 'Proxima Nova Alt Bold';
    letter-spacing: 6px;
    font-size: 35px;
    margin: 10px;
    text-transform: uppercase;
}
#tweetStats h5 {
    font-family: 'Proxima Nova Alt Regular';
    letter-spacing: 5px;
    font-size: 20px;
    text-transform: uppercase;
}
#tweetStats h1 {
    font-family: 'Proxima Nova Alt Regular';
    color: #8c979f;
    letter-spacing: 12px;
    font-size: 60px;
}
#tweetStats h6 {
    font-family: 'Proxima Nova Alt Light';
    color: #8c979f;
    letter-spacing: 1.5px;
    font-size: 15px;
}
.triangle-border {
    position:relative;
    padding:15px;
    margin:1em 0 3em;
}
.triangle-border.left {
    margin-left:30px;
}
.triangle-border.left:before {
    content:"";
    position: absolute;
    top: calc(430px / 2 - 6px); /* controls vertical position */
    bottom: auto;
    left:-30px; /* value = - border-left-width - border-right-width */
    border-width:15px 30px 15px 0;
    border-style:solid;
    border-color:transparent #162252;
    display:block;
    width:0;
}
.triangle-border.left:after {
    content:"";
    position:absolute;
    top:212px; /* value = (:before top) + (:before border-top) - (:after border-top) */
    bottom:auto;
    left:-25px; /* value = - border-left-width - border-right-width */
    border-width:12px 25px 12px 0;
    border-style:solid;
    border-color: transparent #fff;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}